.vscode/
hostfile
__pycache__/
vci_job_*
lightning_logs/
outputs/
log/
uv.lock
tmp/
notebooks/
*.sif
*.slurm
temp
/wandb/
wandb_logs/
datasets/Replogle_Nadig_dataset
!src/state/configs/wandb/
experiments/
genept_emb/genept_emb
datasets/scgpt
datasets/Norman_dataset
*.h5ad
*.ckpt
*.egg-info/
